$beige: #F8F8F8;
$black: #1D2226;
$title-font: PPAgrandir;
$general-text-font: 'DM Sans', sans-serif;

@font-face {
  font-family: 'PPAgrandir';
  src: url('../assets/Agandir\ Font/PPAgrandir-NarrowRegular.otf') format('truetype');
  font-weight: 470;
}

* {
  box-sizing: border-box;
  font-family: $general-text-font;
  margin: 0;
}

.light {
  background-color: $beige;
}

.dark {
  background-color: $black;
}

.icon {
  width: 30px;
}

.caps {
  text-transform: uppercase;
}

h1, h4 {
  font-family: $title-font, medium;
}

h1 {
  font-size: 600%;
}

h4 {
  font-size: 200%;
  text-align: center;
}

.component-container {
  display: flex;
  justify-content: space-evenly;
  // align-items: center;
  height: 100vh;
  width: 100vw;
}

.column-flex-container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.grid-flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin: 5% 0%;
}

.title-container {
  max-width: 100%;
}


.hero-text {
  font-size: 16px;
  margin-bottom: 20px;
  width: 600px;
  text-align:justify;
  flex-wrap: wrap;
}

.hero-button {
  font-size: 100%;
  flex-grow: 1;
  padding: 7px 25px;
  background-color: $black;
  color: $beige;
  border: none;
  border-radius: 2px;
  width: 25%;
  flex-basis: calc(50% - 40px);
  cursor:pointer;
  text-align: center;
}

img {
  max-width: 50%;
  margin-top: 5%;
}



